[Unit]
Description=Cockroach SQL Database Server
Requires=network.target
Documentation=https://www.cockroachlabs.com/docs, man:cockroach(1)
# Wait for Chrony to synchronize
After=chrony-wait.service chronyd.service

[Install]
WantedBy=multi-user.target
Alias=cockroach.service

[Service]
Type=forking
EnvironmentFile=/etc/cockroach/cockroach.conf
PIDFile=/var/run/cockroach/pid
ExecStartPre=/bin/mkdir -p /var/run/cockroach
ExecStartPre=/bin/chown -R cockroach:cockroach /var/run/cockroach
ExecStart=/etc/cockroach/scripts/cockroach-start.sh
ExecStop=/etc/cockroach/scripts/cockroach-stop.sh
SyslogIdentifier=cockroach
Restart=on-failure
RestartSec=30
TimeoutStopSec=60
RestartPreventExitStatus=0
StandardOutput=syslog
StandardError=syslog
LimitNOFILE=65535
User=cockroach
Group=cockroach
